################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/ed868afd-4bb6-448b-9fa2-6042cbbf96a6.vsidx
/.gitignore
/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/1c2040c1-0a81-4fe4-adb8-b2059c9b0a31.vsidx
/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/02c181c4-fde4-4522-b43f-263ab246737f.vsidx
/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/bf547e60-0a64-478b-a6b6-67f8c54483d0.vsidx
/EMS/AttendancePayrollService/obj/Debug/net10.0/AttendancePayrollService.csproj.BuildWithSkipAnalyzers
