################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/ed868afd-4bb6-448b-9fa2-6042cbbf96a6.vsidx
/.gitignore
/EMS/.vs/EmployeeManagementSystem.slnx/FileContentIndex/1c2040c1-0a81-4fe4-adb8-b2059c9b0a31.vsidx
